.header {
    max-width: 1200px;
    padding: 40px 20px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 20px;
     }


.header-nav a {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 20px;
    text-decoration: none;
    color: #141414;
    display: block;
}

.header-nav a:hover {
    background-color: rgba(214, 76, 152, 0.116);
    border-radius: 6px;
    transition: 500ms linear;
    
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .header img {
        width: 350px;
        height: 70px;
    }

}
   